.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: inherit;
}

.my-name {
  color: #4c69ca;
  margin-bottom: 0;
  margin-top: 10;
}

.skills-header {
  margin-top: 10;
  margin-bottom: 0;
}

.introduction {
  display: flex;
  width: none;
  justify-content: center;
}

.contact {
  font-size: x-small;
  color: black;
  text-decoration: none;
}
.contact-number {
  display: flex;
  flex-direction: column;
  font-size: x-small;
  color: black;
  text-decoration: none;
}

.my-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.contacts {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 650;
  border: 2px solid black;
  border-left: 0px;
  border-right: 0px;
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  height: 1000;
  width: 1000;
  color: #4c69ca;
}

.experience-company {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
  transition: transform 0.25s ease;
}

.experience-company:hover {
  transform: scale(1.25);
}

.experience-date {
  margin-top: 0;
  margin-bottom: 0;
}

.experience-tasks {
  max-width: 500px;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 10px 10px;
  transition: transform 0.25s ease;
}

.contact-icon:hover {
  transform: scale(1.5);
}

.contact-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skills-list {
  display: flex;
}

.education-header {
  margin-bottom: 0;
}

.school {
  color: black;
  text-decoration: none;
  transition: transform 0.25s ease;
  padding: 10px 10px 10px 10px;
}
